.navbar {
    @include setFlexBox(center, center, row);
    width: 50%;
    max-width: 980px;
    height: 8vh;
    position: absolute;
    z-index: 999;
    right: 0;
    padding: 1rem 1rem 0 0;

    .menu {
        @include setFlexBox(space-evenly, center, row);
        height: 100%;
        width: 100%;
        margin: 0 auto;

        li {
            @include setFlexBox(center, center, row);
            width: 100%;
            height: 100%;
            

            a {
                @include setFlexBox(center, center, row);
                cursor: pointer;
                height: 100%;
                width: 100%;
                color: $cream;
                font-size: 1.7rem;
                transition: 0.2s;
                background-color: $dark-purple;
                border-radius: 50px;
                margin-right: 10px;

                &:hover {
                    color: $dark-purple;
                    background-color: $white;
                }
            }
        }        
    }

    .mobile-menu {
        cursor: pointer;
        display: none;
        z-index: 2;

        div {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            background-color: $titleBrown;
            transition: 0.3s ease;
            border-radius: 10px
        }
    }
}