@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  /*outline: 1px solid red;*/
  font-family: 'League Spartan', Arial, Helvetica, sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #FFEEEE;
}

::-webkit-scrollbar-thumb {
  background-color: #FFAAAA;
  border-radius: 10px;
}

body {
  background-color: #FFEEEE;
}

.navbar {
  margin: 0 auto;
  width: 70%;
  height: 8vh;
  background-color: #FFEEEE;
}

.navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}

.navbar .menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  height: 100%;
  width: 20%;
  color: #636363;
  font-size: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .menu a:hover {
  background-color: #FFAAAA;
  color: #FFEEEE;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 92vh;
  background-color: #FFEEEE;
  width: 90%;
  margin: 0 auto;
}

.home-container .home-primary-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  height: 100%;
}

.home-container .home-primary-div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  gap: 15px;
}

.home-container .home-primary-div div h1 {
  width: 100%;
  font-size: 65px;
  color: #FFAAAA;
}

.home-container .home-primary-div div p {
  font-size: 25px;
  font-weight: 600;
  color: #636363;
  width: 100%;
  text-align: justify;
}

.home-container .home-secondary-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60%;
  height: 100%;
}

.home-container .home-secondary-div .home-image-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #FFAAAA;
  border-radius: 260px 10px 10px 10px;
  width: 80%;
  height: 80%;
  content-visibility: auto;
  -webkit-box-shadow: 15px 10px 5px 0px #c2c2c2;
          box-shadow: 15px 10px 5px 0px #c2c2c2;
}

.home-container .home-secondary-div .home-image-div .home-ice-cream {
  height: 110%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.home-container .home-secondary-div .home-image-div .home-ice-cream:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 120%;
}

.container-specialties {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background-color: #fff9f9;
}

.container-specialties h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 40px;
  color: #FFAAAA;
  height: 20%;
}

.container-specialties .specialties-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
}

.container-specialties .specialties-div .specialties-section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  height: 80%;
  background-color: #e7e7e7;
  border-radius: 10px;
  content-visibility: auto;
  -webkit-box-shadow: 0px 0px 5px 0px #c2c2c2;
          box-shadow: 0px 0px 5px 0px #c2c2c2;
}

.container-specialties .specialties-div .specialties-section img {
  width: 100%;
  height: 90%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container-specialties .specialties-div .specialties-section p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 10%;
  font-weight: 600;
  color: #636363;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container-specialties .specialties-div .specialties-section:hover img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.container-specialties .specialties-div .specialties-section:hover p {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  color: #FFFFFF;
}

.container-specialties-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  width: 100%;
  content-visibility: auto;
}

.container-specialties-secondary .specialties-secondary-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
}

.container-specialties-secondary .specialties-secondary-div img {
  width: 75%;
  -webkit-box-shadow: 10px 7px 0px 0px #FFAAAA;
          box-shadow: 10px 7px 0px 0px #FFAAAA;
  border-radius: 5px;
}

.container-specialties-secondary .specialties-secondary-div-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.container-specialties-secondary .specialties-secondary-div-title .specialties-secondary-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  width: 50%;
}

.container-specialties-secondary .specialties-secondary-div-title .specialties-secondary-title h2 {
  font-size: 64px;
  color: #FFAAAA;
  width: 80%;
}

.container-specialties-secondary .specialties-secondary-div-title .specialties-secondary-title p {
  width: 100%;
  font-size: 25px;
  color: #636363;
  text-align: justify;
}

.container-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100vh;
  background-color: #FFFFFF;
}

.container-location .location-div-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  height: 100%;
}

.container-location .location-div-title .location-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  gap: 30px;
}

.container-location .location-div-title .location-title h2 {
  font-size: 64px;
  color: #FFAAAA;
}

.container-location .location-div-title .location-title p {
  text-align: justify;
  font-size: 25px;
  color: #636363;
}

.container-location .location-div-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  height: 100%;
}

.container-location .location-div-map img {
  width: 70%;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px 5px 0px #c2c2c2;
          box-shadow: 10px 10px 5px 0px #c2c2c2;
}

.container-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100vh;
}

.container-about .about-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.container-about .about-div .about-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  gap: 30px;
}

.container-about .about-div .about-title h2 {
  font-size: 64px;
  color: #FFAAAA;
}

.container-about .about-div .about-title p {
  font-size: 25px;
  color: #636363;
  font-weight: 600;
  text-align: justify;
}

.container-about .contacts-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 50%;
}

.container-about .contacts-div .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  height: 50%;
  gap: 25px;
}

.container-about .contacts-div .contacts a img {
  width: 50px;
  -webkit-filter: brightness(0%);
          filter: brightness(0%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container-about .contacts-div .contacts a img:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.container-about .contacts-div .contacts .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  height: 100%;
}

.container-about .contacts-div .contacts .contact-info p {
  font-size: 25px;
}

.container-about .contacts-div .contacts img:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

footer {
  text-align: center;
  padding: 10px;
}

footer a {
  color: #000000;
}

footer a:hover {
  color: #636363;
}
/*# sourceMappingURL=style.css.map */