@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "League Spartan", Arial, Helvetica, sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #FFEEEE;
}

::-webkit-scrollbar-thumb {
  background-color: #FFAAAA;
  border-radius: 10px;
}

body {
  background-color: #FFEEEE;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  width: 90%;
  height: 8vh;
  background-color: #FFEEEE;
}
.navbar .menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}
.navbar .menu li {
  width: 100%;
  height: 100%;
}
.navbar .menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  height: 100%;
  width: 100%;
  color: #636363;
  font-size: 18px;
  transition: 0.3s;
}
.navbar .menu li a:hover {
  background-color: #FFAAAA;
  color: #FFEEEE;
  transition: 0.3s;
}
.navbar .mobile-menu {
  cursor: pointer;
  display: none;
  z-index: 2;
}
.navbar .mobile-menu div {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #FFAAAA;
  transition: 0.3s ease;
  border-radius: 10px;
}

.container-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 92vh;
  background-color: #FFEEEE;
  width: 90%;
  margin: 0 auto;
}
.container-home .home-primary-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: 100%;
}
.container-home .home-primary-div div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  gap: 15px;
}
.container-home .home-primary-div div h1 {
  width: 100%;
  font-size: 65px;
  color: #FFAAAA;
}
.container-home .home-primary-div div p {
  font-size: 25px;
  font-weight: 600;
  color: #636363;
  width: 100%;
  text-align: justify;
}
.container-home .home-secondary-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 60%;
  height: 100%;
}
.container-home .home-secondary-div .home-image-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  background-color: #FFAAAA;
  border-radius: 260px 10px 10px 10px;
  width: 80%;
  height: 80%;
  content-visibility: auto;
  box-shadow: 15px 10px 5px 0px rgba(0, 0, 0, 0.253);
}
.container-home .home-secondary-div .home-image-div .home-ice-cream {
  height: 110%;
  transition: 0.5s;
}
.container-home .home-secondary-div .home-image-div .home-ice-cream:hover {
  transition: 0.5s;
  height: 120%;
}

.container-specialties {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #fff9f9;
}
.container-specialties h2 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  font-size: 40px;
  color: #FFAAAA;
  height: 20%;
}
.container-specialties .specialties-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.container-specialties .specialties-div .specialties-section {
  flex-direction: column;
  width: 300px;
  height: auto;
  background-color: #e7e7e7;
  border-radius: 10px;
  content-visibility: auto;
  box-shadow: 0px 0px 5px 0px rgb(194, 194, 194);
}
.container-specialties .specialties-div .specialties-section img {
  width: 100%;
  height: 90%;
  transition: 0.5s;
}
.container-specialties .specialties-div .specialties-section p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 10%;
  padding: 10px;
  font-weight: 600;
  color: #636363;
  transition: 0.5s;
}
.container-specialties .specialties-div .specialties-section:hover img {
  transition: 0.5s;
  transform: scale(1.5);
}
.container-specialties .specialties-div .specialties-section:hover p {
  transition: 0.5s;
  position: relative;
  color: #FFFFFF;
}

.container-specialties-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  content-visibility: auto;
}
.container-specialties-secondary .specialties-secondary-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 50%;
}
.container-specialties-secondary .specialties-secondary-div img {
  width: 75%;
  box-shadow: 10px 7px 0px 0px #FFAAAA;
  border-radius: 5px;
}
.container-specialties-secondary .specialties-secondary-div-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.container-specialties-secondary .specialties-secondary-div-title .specialties-secondary-title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
  width: 50%;
}
.container-specialties-secondary .specialties-secondary-div-title .specialties-secondary-title h2 {
  font-size: 64px;
  color: #FFAAAA;
  width: 80%;
}
.container-specialties-secondary .specialties-secondary-div-title .specialties-secondary-title p {
  width: 100%;
  font-size: 25px;
  color: #636363;
  text-align: justify;
}

.container-location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background-color: #FFFFFF;
}
.container-location .location-div-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 50%;
  height: 100%;
}
.container-location .location-div-title .location-title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
  gap: 30px;
}
.container-location .location-div-title .location-title h2 {
  font-size: 64px;
  color: #FFAAAA;
}
.container-location .location-div-title .location-title p {
  text-align: justify;
  font-size: 25px;
  color: #636363;
}
.container-location .location-div-map {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 70%;
  height: 100%;
}
.container-location .location-div-map .mapouter {
  text-align: center;
  width: 80%;
  height: 70%;
}
.container-location .location-div-map .mapouter .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
}
.container-location .location-div-map .mapouter .gmap_canvas iframe {
  width: 100%;
  height: 100%;
}

.container-about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}
.container-about .about-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.container-about .about-div .about-title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
  gap: 30px;
}
.container-about .about-div .about-title h2 {
  font-size: 64px;
  color: #FFAAAA;
}
.container-about .about-div .about-title p {
  font-size: 25px;
  color: #636363;
  font-weight: 600;
  text-align: justify;
}
.container-about .contacts-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
}
.container-about .contacts-div .contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 50%;
  height: 50%;
  gap: 25px;
}
.container-about .contacts-div .contacts a img {
  width: 50px;
  filter: brightness(0%);
  transition: 0.3s;
}
.container-about .contacts-div .contacts a img:hover {
  filter: brightness(100%);
  transition: 0.3s;
  cursor: pointer;
}
.container-about .contacts-div .contacts .contact-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 80%;
  height: 100%;
}
.container-about .contacts-div .contacts .contact-info p {
  font-size: 25px;
}
.container-about .contacts-div .contacts img:hover {
  filter: brightness(100%);
}

footer {
  text-align: center;
  padding: 10px;
}
footer a {
  color: #000000;
}
footer a:hover {
  color: #636363;
}

@media (min-width: 769px) and (max-width: 1279px) {
  .container-home {
    width: 100%;
  }
  .container-home .home-primary-div div h1 {
    font-size: 48px;
  }
  .container-home .home-primary-div div p {
    font-size: 20px;
  }
  .container-home .home-secondary-div .home-image-div {
    width: 70%;
  }
  .container-specialties h2 {
    font-size: 36px;
  }
  .container-specialties .specialties-div .specialties-section {
    width: 20%;
    height: 70%;
  }
  .container-specialties-secondary .specialties-secondary-div-title .specialties-secondary-title h2 {
    font-size: 48px;
  }
  .container-specialties-secondary .specialties-secondary-div-title .specialties-secondary-title p {
    font-size: 20px;
  }
  .container-location {
    padding: 20px;
  }
  .container-location .location-div-title .location-title h2 {
    font-size: 48px;
  }
  .container-location .location-div-title .location-title p {
    font-size: 20px;
  }
  .container-location .mapouter {
    text-align: center;
    width: 100%;
    height: 70%;
  }
  .container-location .mapouter .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
  }
  .container-location .mapouter .gmap_canvas iframe {
    width: 100%;
    height: 100%;
  }
  .container-about .about-div .about-title h2 {
    font-size: 48px;
  }
  .container-about .about-div .about-title p {
    font-size: 20px;
  }
  .container-about .contacts-div .contacts a img {
    width: 40px;
  }
  .container-about .contacts-div .contacts .contact-info p {
    font-size: 20px;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .navbar {
    justify-content: flex-start;
    align-items: flex-end;
    width: 90%;
    height: 8vh;
  }
  .navbar .menu {
    position: fixed;
    left: -100%;
    top: 0;
    gap: 0;
    padding-top: 15vh;
    flex-direction: column;
    width: 50%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    background-color: #FFAAAA;
    z-index: 1;
    justify-content: flex-start;
    box-shadow: 10px 0px 15px 1px rgba(0, 0, 0, 0.377);
  }
  .navbar .menu li {
    height: 15%;
  }
  .navbar .menu li a {
    height: 100%;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .mobile-menu {
    display: block;
    position: fixed;
  }
  .navbar .mobile-menu.active div:nth-child(2) {
    opacity: 0;
  }
  .navbar .mobile-menu.active div:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: #FFEEEE;
  }
  .navbar .mobile-menu.active div:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: #FFEEEE;
  }
  .container-home {
    flex-direction: column;
    padding: 20px;
    gap: 50px;
  }
  .container-home .home-primary-div {
    width: 100%;
    height: 20%;
  }
  .container-home .home-primary-div div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .container-home .home-primary-div div h1 {
    font-size: 64px;
    text-align: center;
  }
  .container-home .home-primary-div div p {
    font-size: 20px;
    text-align: center;
  }
  .container-home .home-secondary-div {
    width: 100%;
    height: 60%;
  }
  .container-home .home-secondary-div .home-image-div {
    width: 90%;
    height: 100%;
  }
  .container-specialties {
    height: auto;
    padding: 30px;
  }
  .container-specialties h2 {
    font-size: 36px;
    padding: 20px;
  }
  .container-specialties .specialties-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  .container-specialties .specialties-div .specialties-section {
    width: 300px;
    height: auto;
  }
  .container-specialties-secondary {
    flex-direction: column-reverse;
    padding: 30px;
    height: 100%;
    gap: 30px;
  }
  .container-specialties-secondary .specialties-secondary-div {
    width: 70%;
    height: 60%;
    content-visibility: auto;
    box-shadow: 10px 7px 0px 0px #FFAAAA;
    border-radius: 10px;
  }
  .container-specialties-secondary .specialties-secondary-div img {
    width: 100%;
  }
  .container-specialties-secondary .specialties-secondary-div-title {
    width: 100%;
    height: 30%;
  }
  .container-specialties-secondary .specialties-secondary-div-title .specialties-secondary-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container-specialties-secondary .specialties-secondary-div-title .specialties-secondary-title h2 {
    width: 100%;
    font-size: 48px;
    text-align: center;
  }
  .container-specialties-secondary .specialties-secondary-div-title .specialties-secondary-title p {
    font-size: 20px;
    text-align: center;
  }
  .container-location {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .container-location .location-div-title {
    width: 100%;
    height: 40%;
  }
  .container-location .location-div-title .location-title {
    width: 80%;
  }
  .container-location .location-div-title .location-title h2 {
    width: 100%;
    text-align: center;
    font-size: 48px;
  }
  .container-location .location-div-title .location-title p {
    font-size: 20px;
  }
  .container-location .location-div-map {
    width: 80%;
  }
  .container-location .location-div-map .mapouter {
    text-align: center;
    width: 100%;
    height: 70%;
  }
  .container-location .location-div-map .mapouter .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
  }
  .container-location .location-div-map .mapouter .gmap_canvas iframe {
    width: 100%;
    height: 100%;
  }
  .container-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container-about .about-div {
    height: 40%;
  }
  .container-about .about-div .about-title h2 {
    width: 100%;
    font-size: 48px;
    text-align: center;
  }
  .container-about .about-div .about-title p {
    font-size: 20px;
  }
  .container-about .contacts-div .contacts {
    width: 60%;
  }
  .container-about .contacts-div .contacts a {
    width: 10%;
  }
  .container-about .contacts-div .contacts a img {
    width: 40px;
  }
  .container-about .contacts-div .contacts .contact-info {
    width: 90%;
  }
  .container-about .contacts-div .contacts .contact-info p {
    font-size: 20px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .container-specialties h2 {
    font-size: 28px;
  }
  .container-specialties-secondary .specialties-secondary-div {
    box-shadow: none;
  }
  .container-specialties-secondary .specialties-secondary-div-title .specialties-secondary-title h2 {
    font-size: 36px;
  }
  .container-location .location-div-title .location-title h2 {
    font-size: 36px;
  }
  .container-about .about-div .about-title h2 {
    font-size: 36px;
  }
}

/*# sourceMappingURL=style.css.map */
