@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');

@mixin setFlexBox($justifyContent, $alignItems, $flexDirection) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-direction: $flexDirection;
}

$titlePink: #FFAAAA;
$backgroundPink: #FFEEEE;
$contentGrey: #636363;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    /*outline: 1px solid red;*/
    font-family: 'League Spartan', Arial, Helvetica, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: $backgroundPink;
}

::-webkit-scrollbar-thumb {
    background-color: $titlePink;
    border-radius: 10px;
}

body {
    background-color: $backgroundPink;
}

.navbar {
    margin: 0 auto;
    width: 70%;
    height: 8vh;
    background-color: $backgroundPink;

    .menu {
        @include setFlexBox(space-evenly, center, row);
        height: 100%;

        a {
            @include setFlexBox(center, center, row);
            cursor: pointer;
            height: 100%;
            width: 20%;
            color: $contentGrey;
            font-size: 18px;
            transition: 0.3s;

            &:hover {
                background-color: $titlePink;
                color: $backgroundPink;
                transition: 0.3s;
            }
        }
    }
}

.home-container {
    @include setFlexBox(center, center, row);
    height: 92vh;
    background-color: $backgroundPink;
    width: 90%;
    margin: 0 auto;

    .home-primary-div {
        @include setFlexBox(center, center, column);
        width: 40%;
        height: 100%;

        div {
            @include setFlexBox(center, center, column);
            width: 70%;
            gap: 15px;

            h1 {
                width: 100%;
                font-size: 65px;
                color: $titlePink;
            }
    
            p {
                font-size: 25px;
                font-weight: 600;
                color: $contentGrey;
                width: 100%;
            }
        }     
    }

    .home-secondary-div {
        @include setFlexBox(center, center, row);
        width: 60%;
        height: 100%;

        .home-image-div {
            @include setFlexBox(flex-end, center, row);
            background-color: $titlePink;
            border-radius: 260px 10px 10px 10px;
            width: 80%;
            height: 80%;
            content-visibility: auto;

            .home-ice-cream {
                height: 110%;
                transition: 0.5s;

                &:hover {
                    transition: 0.5s;
                    height: 120%;
                }
            }
        }    
    }

}

.container-specialties {
    @include setFlexBox(center, center, column);
    height: 100vh;
    background-color: #fff9f9;

    h2 {
        @include setFlexBox(center, flex-end, row);
        font-size: 40px;
        color: $titlePink;
        height: 20%;
    }
    
    .specialties-div {
        @include setFlexBox(space-evenly, center, row);
        width: 100%;
        height: 100%;

        .specialties-section {
            flex-direction: column;
            width: 20%;
            height: 80%;
            background-color: #e7e7e7;
            border-radius: 10px;
            content-visibility: auto;
            box-shadow: 0px 2px 4px 0px rgb(112, 112, 112);

            img {
                width: 100%;
                height: 90%;
                transition: 0.5s
            }

            p {
                @include setFlexBox(center, center, row);
                width: 100%;
                height: 10%;
                font-weight: 600;
                color: $contentGrey;
                transition: 0.5s;
            }

            &:hover {
                img {
                    transition: 0.5s;
                    transform: scale(1.5);
                }

                p {
                    transition: 0.5s;
                    position: relative;
                    color: #FFFFFF;
                }
            }
        }
    } 
}

.container-specialties-secondary {
    @include setFlexBox(center, center, row);
    height: 100vh;
    width: 100%;
    content-visibility: auto;

    .specialties-secondary-div {
        @include setFlexBox(center, center, row);
        width: 50%;

        img {
            width: 75%;
            box-shadow: 10px 7px 0px 0px $titlePink;
            border-radius: 5px;
        }
    }

    .specialties-secondary-div-title {
        @include setFlexBox(center, center, column);
        flex-direction: column;
        width: 50%;
        height: 100%;

        .specialties-secondary-title {
            @include setFlexBox(center, flex-start, column);
            gap: 15px;
            width: 50%;

            h2 {
                font-size: 64px;
                color: $titlePink;
                width: 80%;
            }

            p {
                width: 100%;
                font-size: 25px;
                color: $contentGrey;
            }
        }
    }
}