@import '../../helpers/mixins';
@import '../../helpers/variables';

.container-home {
    @include setFlexbox(center, center, row);
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.container-auto {
    @include setFlexbox(center, center, row);
    height: auto;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
}

.container-col {
    @include setFlexbox(center, center, column);
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
}

.home-primary-div {
    @include setFlexbox(center, flex-start, column);
    height: 100%;
    width: 50%;
    gap: 15px;
    background: url('../../assets/img/home-left-divider.svg') no-repeat;
    background-size: cover;
    background-position: right;
}

.home-title-div {
    z-index: 1;
    margin-left: 15%;
    width: 50%;
}


.home-secondary-div {
    @include setFlexbox(center, center, row);
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.home-image-div {
    @include setFlexbox(center, center, row);
    width: 80%;
    height: 100%;
    transition: 0.5s;
}

.home-ice-cream {
    height: 100%;
    transition: 0.3s;
    z-index: 1;
}


.home-image-div.active {
    border-radius: 10px 10px 10px 10px;
    transition: 0.5s;
}


/* Shapes */
.home-left-divider {
    height: 100vh;
    max-width: 620px;
    z-index: 0;
    left: 0;
}

.home-bubble {
    position: absolute;
    z-index: 0;
    right: 0;
    bottom: 0;
    height: 450px;
    max-height: 500px;
}

.home-shapes {
    @include setFlexbox(space-between, flex-end, row);
    position: absolute;
    height: 100%;
    width: 100%;
}


@media (min-width: 320px) and (max-width: 900px) {
    .home-title {
        color: $dark-purple;
        padding-top: 10rem;
        text-align: center;
    }

    .home-title-div {
        margin-left: 0;
        width: 65%;
        
        p {
            color: $dark-purple;
        }
    }

    .container-home {
        flex-direction: column;
        gap: 50px;
    }

    .home-primary-div {
        width: 100%;
        height: 50%;
        background: none;
        align-items: center;
        border-radius: 50% 0 50% 0;
    }

    .home-secondary-div {
        width: 100%;
        height: 50%;
        background-color: $dark-purple;
        border-radius: 50% 0 0 0;
    
        .home-image-div {
            width: 90%;
            height: 100%;
        }
    }

    .home-bubble {
        display: none;
    }
}